:root{
    --bg-color:#6C757D;
    --banner-color:#212529;
    --banner-text-color:#ffd60a;
    --seasalt-color:#F8F9FA;
    
}
html{
    font-family:'Courier New', Courier, monospace;;
    font-weight: 300;
    color: var(--seasalt-color);
}
body{
    width: 100%;
    height: 100vh;
    margin: 0px;
    background-color: var(--bg-color);
}
h1,h2, h3{
    text-align: center;
}
/* CSS Grid */
body{
    display: grid;
    grid-template-columns: 10px 3fr 1fr 10px;
    grid-template-rows: 100px 70px 4fr 70px;
    grid-template-areas: 
        "banner banner banner banner"
        "nav nav nav nav"
        ". main main ."
        "footer footer footer footer"
    ;
}
.banner{
    grid-area: banner;
}
.nav{
    grid-area: nav;
}
main{
    grid-area: main;
}
aside{
    grid-area: aside;
}
.footer{
    grid-area: footer;
}
/* fonts */
.days-one{
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

.jura{
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Header */
.banner{
    background-color: var(--banner-color);
    color: var(--banner-text-color);
}
.banner h1 {
    /* Google fonts css code */
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;  
}
/* Nav */
nav{
    background-color: var(--banner-color);
    border-top: var(--seasalt-color) solid 1px;
    border-bottom: var(--seasalt-color) solid 1px;
}
nav,.nav-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

nav .nav-menu{
    justify-content: space-evenly;
    column-gap: 10px;
    width: 89%;
}

.link-containers a {
    display: grid;
    justify-content: center;
    color: var(--seasalt-color);
}


#nav-login a{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}


#login-icon{
    width: 20px;
}


/* main section */
.main-content-container{
    background-color: var(--seasalt-color);
    box-shadow:black 0px 19px 38px, black 0px 15px 12px;
    color: var(--banner-color);
    width: 85%;
}


/* side bar */

/* footer */

footer{
    background-color: var(--banner-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.copyright{
    align-self: center;
    color: var(--seasalt-color);
}
/* home page */
#homepage{
    grid-template-areas: 
    "banner banner banner banner"
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer"
;
}
main{
    grid-area: main;
}
#home-container{
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
}
#home-container .para-text, #home-container ul{
    text-align: center;
    padding: 0px 15px;
    width: 90%;
}
#home-container ul{
    list-style-type: none;
    display: inline-block;
}
.list{
    text-align: center;
    padding: 15px 0px;
}

/* login page */

/* body */
#login-body,#view-body{
    grid-template-areas: 
        "banner banner banner banner"
        "nav nav nav nav"
        ". main main ."
        "footer footer footer footer"
;
}

.form-container{
    width: 80%;
    margin: auto;
}
.form-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
/* POST's Page */
#posts-body{
    grid-template-areas: 
        "banner banner banner banner"
        "nav nav nav nav"
        ". main main ."
        "footer footer footer footer"
    ;
}

.blogs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--bg-color);
}
a.blogs{
    text-decoration: none;
    border: none;
    background-color: white;
    color: var(--banner-color);
    box-shadow: 10px 10px 2px 1px black;

    margin-bottom: 10px;
}
.blogs .posts-img{
    width: 30%;
    max-width: 150px;
    height: 150px;
    align-self: center;
}
.blogs div{
    width: 40%;
    height: 200px;
}
.blog-text{
    padding: 10px;
    text-align: center;
}
.blog-lists-link:hover{
    cursor: pointer;
}
/* View PHP */
#view-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    
}

/* Blogs HTML */
#blogs-body{
    grid-template-rows: 100px 70px 4fr 1fr 70px;
    grid-template-areas: 
    "banner banner banner banner"
    "nav nav nav nav"
    "main main aside aside"
    "comments comments aside aside"
    "footer footer footer footer";
}
.comments{
    grid-area: comments;
}
aside{
    grid-area: aside;
}
#articles-sidebar{
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#articles-sidebar h5{
    grid-area: title;
}
section.one{
    grid-area: article1;
}
section.two{
    grid-area: article2;
}
section.three{
    grid-area: article3;
}
.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.aside-img{
    width: 90%;
    max-width: 200px;
    max-height: 200px;
}
#blog-container{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.blogs-img{
   width: 250px;
   height: 200px;
    max-width: 300px;
    max-height: 300px;
}
.articles{
    border: solid black 1px;
}
#article-content-container p{
    padding: 0px 15px;
    width: 90%;
}
.articles h6{
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal; 
}
.comments{
    padding: 15px 10px;
    background-color:rgb(14, 55, 106);
}
.comment-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
h6{
    text-align: center; 
    margin: 0px;
}


/* Error Message */

.error-message{
    color: red;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    background-color: black;
    border-radius: 8px;
    border-style: solid 1px white;
}

/* Success Message */

.success-message{
    color: green;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    background-color: black;
    border-radius: 8px;
    border-style: solid 1px white;

}