<aside id="articles-sidebar">
    <h5 class="days-one">More To Read</h5>
    <section class="articles one">
        <img class="aside-img" src="/img/sw-legos.jpg" alt="Lego Star Wars Set">
        <h6>Best Lego Star Wars Collection</h6>
    </section>
    <section class="articles two" >
        <img class="aside-img" src="/img/vador-helmet.jpg" alt="Darth Vador Helmet">
        <h6>Original Vador Helmet Found</h6>
    </section>
    <section class="articles three">
        <img class="aside-img" src="/img/first-order-trooper.jpg" alt="frist order trooper">
        <h6>Star Wars Galaxy Edge Review</h6>
    </section>
</aside>